@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather+Sans&family=Merriweather:wght@300&display=swap');

body{
    color:black;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;}

/*logo*/
h1{
font-family: 'Fjalla One', sans-serif;
font-size: 30px; 
float: left;
}

a{
    text-decoration: none;
    color: black;
}

/* navbar*/
nav{
    position:fixed; 
    background-color: #FAF9F6;
    width: 100%;
}

nav li{
    float:right; 
    display: inline; 
    padding: 20px;
}  
 
nav a:hover{
    font-weight: bold;
}
